.error{
	color: red;
}

#horMenu{
	max-width:1200px;
	margin:0 auto;
}

#container{
	max-width:1200px;
	margin:0 auto;
}



#mainSC{
	width: 100%;
	position: relative;
	top: 200px;

}

#mainSC table{
	/*table-layout: auto;*/
	position: relative;
	bottom: 100px;
	border-left: 6px groove #ABF7FE;
	border-right: 6px groove #ABF7FE;
	border-bottom: 6px groove #ABF7FE;

}
#main thead{
	z-index: 1;
	position: fixed;
	top:50px;
	/*left:0px;*/
	max-width: 1200px;
	margin-left: -7px;
}
#main thead th{
	min-width: 65px;
	width: 1200px;
	/*border: 2px solid #FFFFFF;*/
	padding: 2px;
	/*color: #00A478;*/
	text-align: center;
	margin-left: 0;
}
#main td{
	/*width: 100%;*/
	min-width: 65px;
	width: 1200px;
	border: 2px solid #FFFFFF;
	padding: 2px;
	/*color: #00A478;*/
	text-align: center;
	margin-left: 0

}


#user tr:nth-child(odd), 
#main tr:nth-child(odd), 
#eventAction tr:nth-child(odd){
	background-color: #E6F4FF
}

#user tr:nth-child(1),
#main tr:nth-child(1),
#eventAction tr:nth-child(1){
 	background-color: #759DAB;
	color: #96E9FE;
	/*width: auto;*/
	height: 35px;
	font-weight: bold;
	/*border: 2px solid black;*/
	padding: 15px;
	text-align: center;
	
}

#main td:nth-child(7), #main td:nth-child(8){
	background-color: #2AA9C5;
	font-weight: bold;
}

#user td:nth-child(1), #main td:nth-child(1){
	color: #000000;
	font-weight: bold;
}



#user tr:nth-child(even), #main tr:nth-child(even), #eventAction tr:nth-child(even){
	background-color: #CEDBE5
}



#eventAction td, #eventAction tr{
	width: 80%;
	border: 3px solid white;
	text-align: center;

	
}

#eventAction{
	position: relative;
	top: 98px;
}

#eventActionTable{
	width: 80%;
	border: 6px groove #ABF7FE;
	margin: 0 auto;

}

#taskOptionDiv{
	position: relative;
	top: 100px;
}

#SCNoteDiv{
	z-index: 1;
	position: fixed;
	bottom:50px;
	margin: 0 auto;
	width: 100%;
	text-align: center;
	color: #16FA0B;
	font: 25px bold;
	font-variant: small-caps;
	font-weight: bold

}


[draggable=true] {
  -khtml-user-drag: element;
  -webkit-user-drag: element;
  -khtml-user-select: none;
  -webkit-user-select: none;
}