.error{
	color: red;
}

#mainSC{
	max-width: 100%;
}

#mainSC table{
	table-layout: fixed;
}

td{
	width: auto;
	border: 2px solid #FFFFFF;
	padding: 10px;
	/*color: #00A478;*/
	text-align: center;

}


#user tr:nth-child(odd), #main tr:nth-child(odd), #eventAction tr:nth-child(odd){
	background-color: #E6F4FF
}

#user tr:nth-child(1), #main tr:nth-child(1), #eventAction tr:nth-child(1){
 	background-color: #93B4C0;
	color: #68E1FF;
	width: auto;
	height: 50px;
	font-weight: bold;
	border: 2px solid black;
	padding: 15px;
	text-align: center;
	
}

/*#main td:nth-child(2), #main td:nth-child(8){
	background-color: #A7FFE7;
	font-weight: bold;
}*/

#user td:nth-child(1), #main td:nth-child(1){
	color: #FF2832;
	font-weight: bold;
}



#user tr:nth-child(even), #main tr:nth-child(even), #eventAction tr:nth-child(even){
	background-color: #CEDBE5
}



#eventAction td, tr{
	width: 80%;
	border: 2px solid black;
	text-align: center;

}

#eventAction table{
	width: 80%;
	margin: 0 auto;

}

