<html>
<head>
	<title>About Us</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="bower_components/dist/bootstrap/css/bootstrap.css">
</head>
<body>
 <h1> <%= title %></h1>

<ul>
	<% for (var i=0; i< items.length; i++){ %>
		<li><%= items[i].desc %></li>

	<% } %>

	<form action="/add" method="post">
		<input type="text" name="newItem">
		<input type="submit">

	</form>

</ul>

</body>
</html>