
doctype html
html(lang="en")
	head
		title Jade Page
		meta(charset='UTF-8')
		link(rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.css")
		link(rel="stylesheet" type="text/css" href="css/style.css")
		link(rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
		link(href="http://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet")

	body
		span(id = 'calBack' class="glyphicon glyphicon-step-backward")
		input(type = 'text' id = "calendar" value = new Date().toLocaleDateString()) 
		span(id = 'calForw' class="glyphicon glyphicon-step-forward")
		#container

		

			//- table#main
			//- 	- var test = users
			//- 	p#test= test 
			//- 	tr
			//- 		td= 'User'
			//- 		- for (var i=4; i < 14 ; i++)
			//- 			td= dateHeader[i].dateH
			//- 	- for (var i=0; i< users.length; i++)
			//- 		tr
			//- 			td= users[i].email
						//- - for (var e=0; e< 14; e++)
							if (typeof assigns[9] == "undefined")
								td= a
							else 

								assigns [e].datePos == e && assigns[e].user.email == users[i].email) 
								td= assigns[e].Note
						



			


	a(href='/assignInput') Assign Input
	br
	a(href='/logout') Logout

			


			
		script(src="public/js/jquery-2.1.4.min.js")
		script(src="public/js/socket.io-1.3.7.js")
		script(src="public/js/app.js")
		script(src="public/js/date.js")
		script(src="http://code.jquery.com/ui/1.10.4/jquery-ui.js")
		script(src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
		
      
     
		script.

			$(function onload(){
				
							

		
				$.post('/ajaxUser').done(mainSC);

				//- $.post('/mainSC', { postdata:{name: "John", time: "2pm" }}).done(function(data){
				//- 	alert(data.dateHeader[0].dateH);
				//- 	alert(data.users[0].email);
				//- 	})
			});

			function getSunday(d){

				var d = new Date(d);
				var diff = d.getDate() - d.getDay();
				
				return new Date(d.setDate(diff));

			}

			function mainSC(data){
				var curDate = $('#calendar').val();
				var curSunday = getSunday(new Date(curDate));
				//- alert(curSunday);
				var users = data.users;
				var arrListDateSC = [];
				var dateSC = new Date(curSunday);
				var container = $('#container');
				container.html("");
				var table = document.createElement('table');
					table.setAttribute('id', 'main');
					table.setAttribute('class','table')
					var tr = document.createElement('tr');
						var td = document.createElement('td');
							td.appendChild(document.createTextNode('User'));
						tr.appendChild(td);
						for (var i=0; i<7; i++){
							
							var td = document.createElement('td');
							td.appendChild(document.createTextNode(dateSC.toDateString()));
							td.addEventListener('click',function(){

							alert('drop cal');
							$.post('/ajaxUser').done(mainSC);
							});
							tr.appendChild(td);

							dateSC.setDate(dateSC.getDate()+1);
							
							}
					table.appendChild(tr);

				

				dateSC = new Date(curSunday);

					
				for (var i=0; i< users.length; i++){
					
						//- var x = 0;
						//- var y = 3
						//- function delayLoop(){
						//- 	if (x++ < 3){return;}
						//- 		console.log(x);
						//- 	window.setTimeout(delayLoop, 1000);
								
						//- }
						//- delayLoop();


					    for (var x=0; x<8; x++){
						
						    

						 

							var taskSCData = {};
							
							if (x==0){
								taskSCData.userId = users[i].id;
								taskSCData.dateSC = users[i].email;


							}else{
								taskSCData.userId = users[i].id;
								taskSCData.dateSC = dateSC.toLocaleDateString();
								dateSC.setDate(dateSC.getDate()+1);
							
							}

							arrListDateSC.push(taskSCData);

							
						}
						
					var dateSC = new Date(curSunday);
				}

				
				//- alert(JSON.stringify(arrListDateSC, null, 4));

				//- var z = 1;
				//- var y = 2;

				//- window['a' + z] = 'hell';
				//- window['a' + y] = 'hellooo';
				
				//- alert(a2); 

				//- var tr1 = document.createElement('tr');
				//- var dateSC = new Date(curMonday);
				var i = 0;
				var userDelta = 0;
				var loopArrayDateSC = function(arr){

					//- if (arr[i].dateSC.indexOf("@") > -1){
					//- 	alert('user detected');
					//- }else{
					//- 	alert('user not detected');
					//- }	
				

						$.post('/taskSC', {postdata:{userId: arr[i].userId, dateSC:arr[i].dateSC}}).done(
							function(assigndata){
								//- var userDelta = 0;

								

								
								//- alert(dateSC.toLocaleDateString());
								
								

								if(!!assigndata.assign){
								
									
									
									var userId = assigndata.assign.userId;
									var taskSC = assigndata.assign.Note;
									

									var td = document.createElement('td');
										td.setAttribute('class','cell')
										td.appendChild(document.createTextNode(taskSC));
										td.addEventListener('click',function(userId,dateSC){

											return function(){
												var taskSC = $('input[name=PTO]:checked').attr('value');

												$.post('/dateSC', {postdata:{userId: userId, dateSC:dateSC, taskSC:taskSC}});

												this.style.backgroundColor = 'yellow'
												this.innerHTML=taskSC;
											}

										}(userId, dateSC.toLocaleDateString()));

									
								} else {

									
									

									var userId = assigndata.userId;
										var td = document.createElement('td');
										td.setAttribute('class','cell')
										td.appendChild(document.createTextNode(""));
										td.addEventListener('click',function(userId,dateSC){

											return function(){
															
												var taskSC = $('input[name=PTO]:checked').attr('value');

												$.post('/dateSC', {postdata:{userId: userId, dateSC:dateSC, taskSC:taskSC}});
												this.style.backgroundColor = 'yellow'
												this.innerHTML=taskSC;
											}
										
										

										}(userId, dateSC.toLocaleDateString()));
										
									
									
								}

								
								if (arr[i].dateSC.indexOf("@") > -1 && i!=0){
									//- alert(i);
									
									dateSC.setDate(dateSC.getDate()-7);

								}else if (arr[i].dateSC.indexOf("@") > -1 && i==0) {
								

								} else{
									//- alert('not @');
									dateSC.setDate(dateSC.getDate()+1);
								}
								
								
									
								

								if (userDelta != userId){


									var td = document.createElement('td');
									td.setAttribute('class','cell')
									td.appendChild(document.createTextNode(arr[i].dateSC));

									window['tr' + userId] = document.createElement('tr');
									window['tr' + userId].appendChild(td);
									table.appendChild(window['tr' + userId]);

								}else{
									window['tr' + userId].appendChild(td);
									table.appendChild(window['tr' + userId]);

								}	

								userDelta = userId;

								
								i++;
								if (i < arr.length ){
									loopArrayDateSC(arr);
								}


							}
								
						);
					
					

				}

				loopArrayDateSC(arrListDateSC);
				container.append(table);


				var ul = document.createElement('ul');
				ul.setAttribute('id','PTORadio')
				var li = document.createElement('li');
					var radio = document.createElement('input');
						radio.setAttribute('type','radio');
						radio.setAttribute('name','PTO');
						radio.setAttribute('value','PTO');
						radio.setAttribute('checked','checked');
					li.appendChild(radio);
					li.appendChild(document.createTextNode('PTO'));
					
				var li1 = document.createElement('li');
					var radio = document.createElement('input');
						radio.setAttribute('type','radio');
						radio.setAttribute('name','PTO');
						radio.setAttribute('value','PTOR');
					li1.appendChild(radio);
					li1.appendChild(document.createTextNode('PTOR'));
				ul.appendChild(li);
				ul.appendChild(li1);


				var taskOption = document.createElement('input')
				taskOption.setAttribute('type','text');
				taskOption.setAttribute('id','taskOption');
				taskOption.addEventListener('blur', function(){
					var taskOptionData = $("#taskOption").val();
					$.post('/taskOption',{taskOption:taskOptionData}).done(function(){

					});
				
				});
				container.append(taskOption);


				container.append(ul);

			}


			
			

			$("#calendar").datepicker({onSelect: function(){
			$.post('/ajaxUser').done(mainSC);
			}});

			

			$("#calBack").click(function(){
				var dateM7 = new Date($("#calendar").val());
				dateM7.setDate(dateM7.getDate()-7);
				$("#calendar").val(dateM7.toLocaleDateString());
				$.post('/ajaxUser').done(mainSC);
				
			});

			$("#calForw").click(function(){
				var dateM7 = new Date($("#calendar").val());
				dateM7.setDate(dateM7.getDate()+7);
				$("#calendar").val(dateM7.toLocaleDateString());
				$.post('/ajaxUser').done(mainSC);
				//- dateM7 = null;
			});

			
			

			


