extends ./layout.jade

	
block title 
	title Title From TEST



block content
	#container
		p(id='test') content from test

append scripts 

	script(src="public/js/date.js")
	script.
		$(function(){
			var newP = document.createElement('p')
			newP.id = 'testP'
			newP.innerHTML = 'heloo'

			container.appendChild(newP);

			alert('in onload')

			$('#testP').click(function(){
			alert('testP lcik')
			})
			
		});



		alert('out onload')

		$('#test').click(function(){
			alert('testP lcik')
			})

