extends ../layout/layout.jade

	
block title 
	title Users

block header
	#header
	include ../layout/header.jade

block horMenu
	include ../layout/horMenu.jade

block content
	#container
		ul(class="nav nav-tabs")
			li(class="active" id='userListTab')
				a(data-toggle="tab" href="#userList") Users
			li(id='userFormTab')
				a(data-toggle="tab" href="#userForm") Add User

		div(class="tab-content")
			div(id="userList" class="tab-pane fade in active")
				- if (user)
					p=user.name
					p sfsfsadf
			div(id="userForm" class="tab-pane")
				p sfsdfsdf
				
					

				br
				form(class="form-horizontal" action="/users/addUser" method="POST")
					div(class="form-group")
						label(class="control-label col-sm-2" for="name") Full Name
						div(class="col-sm-4")
							input(type="text" class="form-control" id="name" name="name" value='' placeholder="Enter Full Name")
					div(class="form-group")
						label(class="control-label col-sm-2" for="email") Email
						div(class="col-sm-4")
							input(type="email" class="form-control" id="email" name="email" placeholder="Enter Email")
					div(class="form-group")
						label(class="control-label col-sm-2" for="username") Username
						div(class="col-sm-4")
							input(type="text" class="form-control" id="username" name="username" placeholder="Enter Username" autocomplete="false")
					div(class="form-group")
						label(class="control-label col-sm-2" for="password") Password
						div(class="col-sm-4")
							input(type="password" class="form-control" id="password" name="password" placeholder="Enter Password" autocomplete="false")
					div(class="form-group")
						label(class="control-label col-sm-2" for="title") Title
						div(class="col-sm-4")
							select(name="title" class="form-control" id="title")
								option(value="") Select One
								option(value="admin") Admin
								option(value="pharmacist") Pharmacist
								option(value="manager") Manager
								option(value="tech2") Technician TPN
								option(value="tech2") Technician 2
								option(value="tech3") Technician 3
					div(class="form-group")
						label(class="control-label col-sm-2" for="title") Active
						div(class="col-sm-4")
							input(type="checkbox" class="form-control" name="active" value='true')

					div(class="form-group")
						div(class="col-sm-offset-2 col-sm-3")
							button(type="submit" class="btn btn-primary") Submit

					- if (errors)
						p.error Please check following items:
						- each error in errors
							li.error= error.msg
    


		

	

append scripts 
	script(src="public/fnLib/homeFn.js")
	script.

		$(function(){
			
			var JSONdata = !{JSONdata};
						
			if (JSONdata.tabx=='userForm'){

				$('#userListTab').attr('class', '')
				$('#userFormTab').attr('class', 'active')
				$('#userList').attr('class', 'tab-pane')
				$('#userForm').attr('class', 'tab-pane fade in active')
			}

			$('#horMenuList li').removeClass('active');
			$('#user').addClass('active');

			var table = document.createElement('table')
			table.id = 'user'
			table.className = 'table table-striped'
				var tr = document.createElement('tr')
				var arrayField = ['Name', 'Email', 'Title', 'Active']

				arrayField.forEach(function(field){
					
					var td = document.createElement('td')
					td.appendChild(document.createTextNode(field))
					tr.appendChild(td)
				})
				table.appendChild(tr)


				$.getJSON('/users/userList').done(function(Rdata){

					console.log(JSON.stringify(Rdata, null, 4))
					Rdata.users.forEach(function(user){
						var tr = document.createElement('tr')
							arrayField = [user.name, user.email, user.title, user.active]
							arrayField.forEach(function(field, i){

								var td = document.createElement('td')
								td.appendChild(document.createTextNode(field))

								if(i==0){
									td.addEventListener('mouseenter', function(){

										if (td.childNodes.length >2){
											td.removeChild(td.childNodes[0])
											td.removeChild(td.childNodes[1])

										}

										var span = document.createElement('span')
										
										span.style.color = 'red'
										span.className = "glyphicon glyphicon-remove-circle"
										span.id = 'delGly';
										//- click the 'x' to remove from list
										span.addEventListener('click', function(){
											
											$.post('/users/delUser',{taskOption:user.id}).done(function(pData){
												table.removeChild(tr)
											});
											
										});

										td.insertBefore(span, td.firstChild)

										var span1 = document.createElement('span')
										
										span1.style.color = 'violet'
										span1.className = "glyphicon glyphicon-edit"
										span1.id = 'editGly';
										//- click the 'x' to remove from list
										span1.addEventListener('click', function(){
											
											$.post('/users/editUser',{userId:user.id}).done(function(pData){
												document.getElementById('name').value= user.name
												document.getElementById('email').value= user.email
												document.getElementById('username').value= user.username
												document.getElementById('title').value= user.title
												$('#userListTab').attr('class', '')
												$('#userFormTab').attr('class', 'active')
												$('#userList').attr('class', 'tab-pane')
												$('#userForm').attr('class', 'tab-pane fade in active')
											});

											
										});
										
										td.appendChild(span1)
									})
									td.addEventListener('mouseleave',function(){
										//- alert($('#delGly').length)
										if ($('#delGly').length>0){
											td.removeChild(document.getElementById('delGly'))
										}
										if ($('#editGly').length>0){
											td.removeChild(document.getElementById('editGly'))
										}
					})


								}
									
								tr.appendChild(td)				
							})

							
						table.appendChild(tr)
				 	
					})
				

				
				})
			userList.appendChild(table)

			
			
			

		})