extends ../layout/layout.jade

	
block title 
	title Users

block header
	#header
	include ../layout/header.jade

block horMenu
	include ../layout/horMenu.jade

block content
	#container
		p User Home
	

append scripts 
	script(src="public/fnLib/homeFn.js")
	script.

		$(function(){

			$('#horMenuList li').removeClass('active');
			$('#user').addClass('active');

			var table = document.createElement('table')
			table.id = 'userList'
			table.className = 'table table-striped'
				var tr = document.createElement('tr')
				var arrayField = ['Name', 'Email', 'Title']

				arrayField.forEach(function(item){
					
					var th = document.createElement('th')
					th.appendChild(document.createTextNode(item))
					tr.appendChild(th)
				})

				var tbody = document.createElement('th')
				//- var th = document.createElement('th')
				//- 	var td = document.createElement('td')
				//- 	td.appendChild(document.createTextNode('First'))
				//- 	th.appendChild(td)
				//- 	var td = document.createElement('td')
				//- 	td.appendChild(document.createTextNode('Last'))
				//- 	th.appendChild(td)
				//- 	var td = document.createElement('td')
				//- 	td.appendChild(document.createTextNode('Email'))
				//- 	th.appendChild(td)
				//- 	var td = document.createElement('td')
				//- 	td.appendChild(document.createTextNode('Title'))
				//- 	th.appendChild(td)
					
				table.appendChild(tr)
			container.appendChild(table)
			

		})