extends ../layout/layout.jade

	
block title 
	title Users

block header
	#header
	include ../layout/header.jade

block horMenu
	include ../layout/horMenu.jade

block content
	#container
		ul(class="nav nav-tabs")
			li(class="active" id='userListTab')
				a(data-toggle="tab" href="#userList") Users
			li(id='userFormTab')
				a(data-toggle="tab" href="#userForm") Add User

		div(class="tab-content")
			div(id="userList" class="tab-pane fade in active")
				p UserList
			div(id="userForm" class="tab-pane")
				
				br
				form(class="form-horizontal" action="/users/editUser" method="POST")
					div(class="form-group")
						label(class="control-label col-sm-2" for="name") Full Name
						div(class="col-sm-4")
							input(type="text" class="form-control" id="name" name="name" placeholder="Enter Full Name")
					div(class="form-group")
						label(class="control-label col-sm-2" for="email") Email
						div(class="col-sm-4")
							input(type="email" class="form-control" id="email" name="email" placeholder="Enter Email")
					div(class="form-group")
						label(class="control-label col-sm-2" for="username") Username
						div(class="col-sm-4")
							input(type="text" class="form-control" id="username" name="username" placeholder="Enter Username")
					div(class="form-group")
						label(class="control-label col-sm-2" for="password") Password
						div(class="col-sm-4")
							input(type="text" class="form-control" id="password" name="password" placeholder="Enter Password")
					div(class="form-group")
						label(class="control-label col-sm-2" for="title") Title
						div(class="col-sm-4")
							select(name="title")
								option(value="none") Select One
								option(value="pharmacist") Pharmacist
								option(value="manager") Manager
								option(value="tech2") Technician 2
								option(value="tech3") Technician 3
					div(class="form-group")
						div(class="col-sm-offset-2 col-sm-3")
							button(type="submit" class="btn btn-primary") Submit

					- if (errors)
						p.error Please check following items:
						- each error in errors
							li.error= error.msg
    


		

	

append scripts 
	script(src="public/fnLib/homeFn.js")
	script(type="text/javascript").

		$(function(){
			var JSONdata = !{JSONdata}
			if(JSONdata.tabx='userForm'){
				$('#userListTab').attr('class', '')
				$('#userFormTab').attr('class', 'active')
				$('#userList').attr('class', 'tab-pane')
				$('#userForm').attr('class', 'tab-pane fade in active')
			}

			$('#horMenuList li').removeClass('active');
			$('#user').addClass('active');

			var table = document.createElement('table')
			table.id = 'userList'
			table.className = 'table table-striped'
				var tr = document.createElement('tr')
				var arrayField = ['Name', 'Email', 'Title']

				arrayField.forEach(function(item){
					
					var th = document.createElement('th')
					th.appendChild(document.createTextNode(item))
					tr.appendChild(th)
				})

				var tbody = document.createElement('th')
				//- var th = document.createElement('th')
				//- 	var td = document.createElement('td')
				//- 	td.appendChild(document.createTextNode('First'))
				//- 	th.appendChild(td)
				//- 	var td = document.createElement('td')
				//- 	td.appendChild(document.createTextNode('Last'))
				//- 	th.appendChild(td)
				//- 	var td = document.createElement('td')
				//- 	td.appendChild(document.createTextNode('Email'))
				//- 	th.appendChild(td)
				//- 	var td = document.createElement('td')
				//- 	td.appendChild(document.createTextNode('Title'))
				//- 	th.appendChild(td)
					
				table.appendChild(tr)
			userList.appendChild(table)

			
			
			

		})