extends ../layout/layout.jade
	
block title 
	title Message

block header
	#header
	include ../layout/header.jade

block horMenu
	include ../layout/horMenu.jade

block content
	#container
		#msgMonitor