#horMenu
	nav(class="navbar navbar-default" role="navigation")
		div(class="container-fluid")
			div(class="navbar-header")
				button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navMain" aria-expanded="true" aria-controls="navMain")
					span(class="sr-only") Toggle navigation
					span(class="icon-bar")
					span(class="icon-bar")
					span(class="icon-bar")

				//- button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#")
				//- 	span(class="sr-only") Shopping Cart
				//- 	span(class="glyphicon glyphicon-shopping-cart" aria-hidden="false")
				button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#taskOptionDiv" id='optionTextS') 
					span(class="glyphicon glyphicon-edit" aria-hidden="true") OPTION 

				a(class="navbar-brand", href="/")
					span(class="glyphicon glyphicon-home" aria-hidden="false") BCP 
			

			div(id="navMain" class="navbar-collapse collapse")
				
				ul(class="nav navbar-nav" id='horMenuList')
					
					li(class='active')
						a(href="/") Home
					li( id='user')
						a(href="/users") Users
					li
						a(href="#") Admin
				ul(class="nav navbar-nav navbar-right")
					li
						a(href='#' class="btn" data-toggle="collapse" data-target="#taskOptionDiv" id='optionTextL') 
							span(class="glyphicon glyphicon-edit" aria-hidden="false") OPTION 
							
					li
						a(href="#" id='curUserName') 
					li  
						a(href="/users/logout" class="btn btn-info btn-md")
							span(class="glyphicon glyphicon-log-out")  Sign-Out
script.
	$(function (){
		$.getJSON('/users/curUser').done(function(Rdata){
			
			$('#curUserName').append(Rdata.curUserName)
		})
	})