#horMenu
	nav(class="navbar navbar-default")
		div(class="container-fluid")
			div(class="navbar-header")
				a(class="navbar-brand", href="#") BCPSchedule
			ul(class="nav navbar-nav")
				li(class="active")
					a(href="/") Home
				li
					a(href="users/") Users
				li
					a(href="#") Admin 