#horMenu
	nav(class="navbar navbar-default" role="navigation")
		div(class="container-fluid")
			div(class="navbar-header")
				button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navMain" aria-expanded="true" aria-controls="navMain")
					span(class="sr-only") Toggle navigation
					span(class="icon-bar")
					span(class="icon-bar")
					span(class="icon-bar")
				button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#x")
					span(class="sr-only") Shopping Cart
					span(class="glyphicon glyphicon-shopping-cart" aria-hidden="false")
				a(class="navbar-brand", href="#") BCP Schedule
			//- div(class="navbar-collapse collapse" id='x')
			//- 		a(href="#" class="dropdown-toggle" data-toggle="dropdown" id='optionText') 
			//- 			span(class="glyphicon glyphicon-tasks" aria-hidden="true") SELECT 

			//- 		ul(class="dropdown-menu" role="menu" id='menuTaskOption')

			div(id="navMain" class="navbar-collapse collapse")
				
				ul(class="nav navbar-nav" id='horMenuList')
					
					li(class='active')
						a(href="/") Home
					li( id='user')
						a(href="/users") Users
					li
						a(href="#") Admin
				ul(class="nav navbar-nav navbar-right")
					li(class="dropdown")
						a(href="#" class="dropdown-toggle" data-toggle="dropdown" id='optionText') 
							span(class="glyphicon glyphicon-tasks" aria-hidden="true") SELECT 

						ul(class="dropdown-menu" role="menu" id='menuTaskOption')
							//- li
							//- 	a(href="#") A
							//- li
							//- 	a(href="#") B
					li
						a(href="#" id='curUserName') 
					li  
						a(href="/users/logout" class="btn btn-info btn-md")
							span(class="glyphicon glyphicon-log-out")  Sign-Out
script.
	$(function (){
		$.getJSON('/users/curUser').done(function(Rdata){
			
			$('#curUserName').append(Rdata.curUserName)
		})
	})